{% load static account_tags i18n %}

<div id="oauth-current">
    <ul class="list-group my-3">
        {% for account in backends.associated %}
            {% backend_display_config account.provider as display_config %}

            <li class="list-group-item border-dark">
                <div class="d-flex align-items-center gap-3">
                    <img width="20px" src="{% static display_config.icon %}"
                         alt="{{ display_config.title }} icon"/>
                    <span>
                        <b>{{ display_config.title }}</b>: {% firstof account.extra_data.display_name account.uid %}
                    </span>
                    <form method="post" class="ms-auto"
                          action="{% url 'social-auth:disconnect_individual' account.provider account.id %}?next={% url 'account:home' %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-danger" role="button" type="submit"
                                title="{% trans 'Remove authentication method' %}">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                </div>
            </li>
        {% empty %}
            <li class="list-group-item border-dark">
                {% translate 'You have not yet added any OAuth providers to your account.' %}
            </li>
        {% endfor %}
    </ul>
</div>
