{% load static %}

<div id="oauth-current">
    {% if backends.associated %}
        <p>
            {% for account in backends.associated %}
                {% with "account/logo_"|add:account.provider|add:".svg" as providerimage %}
                    <div class="d-inline-block mb-1">
                        <form method="post" action="{% url 'social-auth:disconnect_individual' account.provider account.id %}?next={{ next }}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" href="" role="button" type="submit">
                                <img height="20px" style="margin-bottom:3px; margin-right:5px" src="{% static providerimage %}" />
                                {% firstof account.extra_data.display_name account.uid %}
                            </button>
                        </form>
                    </div>
                {% endwith %}
            {% endfor %}
        </p>
    {% else %}
        <p>
            <i>Du hast deinem Account noch keine OAuth-Provider hinzugefügt.</i>
        </p>
    {% endif %}
</div>
