{% extends 'account/base.html' %}

{% block title %}Passkeys{% endblock %}

{% block extrahead %}
    {{ block.super }}

    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    {% block head %}

    {% endblock %}
{% endblock %}

{% block content %}
	<h2>Passkeys</h2>

    <p>Hier kannst du deine gespeicherten Passkeys verwalten.</p>

    <p>
        <a class="btn btn-outline-success" href="{% url 'account:home' %}">
            <i class="fas fa-arrow-left me-1"></i>
            Zurück zur Accountverwaltung
        </a>
    </p>
{% endblock %}
