{% extends 'account/base.html' %}

{% load static i18n %}

{% block title %}{% translate "Delete account" %}{{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate "Delete account" %}</h2>
    <p>{% translate "You don't need your account anymore? You can delete it here." %}</p>

    <p class="alert alert-warning" role="alert">
        <b>{% translate "WARNING:" %}</b>
        {% blocktranslate trimmed with username=user.username %}
            You are about to delete the account <u>{{ username }}</u>!
        {% endblocktranslate %}
    </p>

    <p class="alert alert-danger" role="alert">
        <b>{% translate "WARNING:" %}</b> {% translate "Once you submit this form, your account will be immediately deactivated and then permanently deleted. Please think carefully before proceeding!" %}
    </p>

    <p class="alert alert-info" role="alert">
        {% blocktranslate trimmed %}
            <b>Note:</b> The final deletion of the account will be
            done manually within a few days after deactivation. If you deleted your account by mistake, you may still
            have the possibility to reactivate it. Please contact the owner using the contact information in the help
            section immediately.
        {% endblocktranslate %}
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            {{ form }}
        </div>

        <input type="submit" class="btn btn-danger" value="{% translate 'Deactivate & delete account' %}">
        <a class="btn btn-secondary" href="{% url 'account:home' %}">{% translate 'Cancel' %}</a>
    </form>

{% endblock %}
