<!DOCTYPE html>
<html lang="de">

    {% load static %}

    <head>
        <title>{% block title %}{% endblock %} | Account | Rafaels Webapps</title>
        <meta charset="utf-8"/>
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#212529"/>

        {% comment %} <link rel="manifest" href="{% url "account:manifest" %}"> {% endcomment %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'account/css/darkmode.css' %}">

        {% block extrahead %}{% endblock %}

        <style>
            button, a {
                -webkit-appearance: none !important;
                -moz-appearance: none !important;
                appearance: none !important;
            }
        </style>
    </head>

    <body>

        {% include 'account/snippets/menubar.html' %}

        <div class="px-4 py-3 container-fluid">
            {% include 'account/snippets/messages.html' %}

            {% block content %}{% endblock %}
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="helpCanvas" aria-labelledby="helpCanvasLable">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="helpCanvasLable">Accountverwaltung - Hilfe</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Schliessen"></button>
            </div>
            <div class="offcanvas-body">
                {% block help %}
                    <p class="text-secondary">
                        Dies ist die Accountverwaltung für deinen Account aller auf dieser Webseite gehosteten Webapps.
                        <br><br>
                        (c) 2022, Rafael Urben
                    </p>
                    <div class="dropdown mt-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="contactDropdownButton" data-bs-toggle="dropdown">
                            Kontaktmöglichkeiten
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="contactDropdownButton">
                            <li><a class="dropdown-item" href="https://go.rafaelurben.ch/devmail">E-Mail</a></li>
                            <li><a class="dropdown-item" href="https://go.rafaelurben.ch/telegram">Telegram</a></li>
                        </ul>
                    </div>
                {% endblock %}
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="{% static 'account/js/autodarkmode.js' %}"></script>

        {% block scripts %}

        {% endblock %}
    </body>

</html>