{% extends 'account/base.html' %}

{% load static account_tags %}

{% block title %}Startseite{% endblock %}

{% block content %}
    {% url 'account:home' as accounthome %}

    <h2>Dein Account</h2>

    <p>
        Hallo {{ user.first_name | default:user.username }}! Du befindest dich hier auf der Startseite der
        Accountverwaltung deines Accounts für Rafaels Webapps.
    </p>

    <p>
        <a class="btn btn-outline-success" href="{% url 'account:leave' %}">
            <i class="fas fa-arrow-left me-1"></i>
            Accountverwaltung verlassen
        </a>
    </p>

    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="card mb-4">
                <div class="card-body text-center">
                    <a href="https://gravatar.com/" title="Profilbild auf Gravatar bearbeiten" target="_blank">
                        <img src="{{ avatar_url }}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                    </a>
                    <h4 class="my-3">{{ user.first_name }} {{ user.last_name }}</h4>
                    <p class="text-muted mb-1">@{{ user.username }}</p>
                    <p class="text-muted mb-4">{{ user.email }}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="{% url 'account:profile' %}">
                            Profil bearbeiten
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>Anmeldemethoden</h3>

                    <p class="mb-3">Hier kannst du deine Anmeldemethoden verwalten.</p>

                    <p>Passkeys sind der neuste Login-Standard und bringen den höchsten Komfort:</p>

                    <a class="mb-3 btn btn-secondary" href="{% url 'account:passkey-management' %}" role="link">
                        <img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}" style="width: 20px"
                             class="me-1"
                             alt="Passkey icon">
                        Passkeys verwalten
                    </a>

                    <p>Folgende <abbr title="OAuth-Provider">Anbieter</abbr> können mit dem Account verknüpft werden:
                        {% for backend in backends.backends %}
                            {% backend_display_config backend as display_config %}
                            <img alt="Logo von {{ display_config.title }}" title="{{ display_config.title }}"
                                 src="{% static display_config.icon %}"
                                 style="height: 20px; width: 20px; object-fit: contain;"/>
                        {% endfor %}
                    </p>

                    <a class="mb-3 btn btn-secondary d-inline-flex align-items-center gap-1"
                       href="{% url 'account:oauth-management' %}"
                       role="link">
                        Drittanbieter-Logins verwalten
                    </a>

                    <p>Hier kannst du dein Passwort setzen, zurücksetzen oder ändern:</p>

                    {% if user.has_usable_password %}
                        <a class="btn btn-secondary" href="{% url 'account:password-reset' %}">
                            Passwort zurücksetzen
                        </a>

                        <a class="btn btn-secondary" href="{% url 'account:password-change' %}">
                            Passwort ändern
                        </a>
                    {% else %}
                        <a class="btn btn-secondary" href="{% url 'account:password-reset' %}">
                            Passwort setzen
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-body">
                    <h3>Account löschen</h3>

                    <p class="mb-3">Möchtest du deinen Account löschen?</p>

                    <a class="btn btn-danger mb-1" href="{% url 'account:delete-account' %}">
                        Account löschen
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block help %}
    <p>Auf dieser Seite kannst du deine Daten ansehen und diverse Änderungen daran vornehmen.</p>

    <hr>

    {{ block.super }}
{% endblock %}
