{% extends 'account/base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    {% url 'account:leave' as leave %}

    <h2>Login</h2>

    <div class="alert alert-warning mt-3" role="alert">
        Hinweis: Erstellen eines neuen Accounts ist zurzeit nur via OAuth-Provider (Google, Discord &amp; GitHub) möglich.
    </div>

    <p>
        <a class="btn btn-outline-success" href="{{ leave }}">
            <i class="fas fa-arrow-left me-1"></i>
            Accountverwaltung verlassen
        </a>
    </p>

    <h3>Weiter via OAuth</h3>

    <p>
        Unabhängig davon, ob du bereits einen Account besitzt oder nicht, kannst du dich 
        mit folgenden Methoden einloggen.
    </p>

    {% include "account/snippets/social_login.html" with next=leave %}

    <br>

    <h3>Login mit Passwort oder Passkey</h3>

    <p class="mb-3">Du hast einen Benutzernamen und kennst dein Passwort oder hast einen Passkey? Dann kannst du dich hier einloggen.</p>

    <form method="post" id="loginForm">
        <input type="hidden" name="next" value="{{ leave }}">

        {% include 'account/snippets/form.html' with form=form %}

        <input type="submit" class="btn btn-success" value="Einloggen">

        {# Passkeys #}
        <button class="btn btn-block btn-secondary" type="button" onclick="authn('loginForm')">
            <img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}" style="width: 20px">
            Mit Passkey anmelden
        </button>
        <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
        {% include 'passkeys.js' %}
        <script>
            window.addEventListener("load", () => {
                checkConditionalUI('loginForm');
            })
        </script>
    </form>

    <br>

    <h3>Passwort vergessen?</h3>

    <p class="mb-3">
        Hast du dein Passwort vergessen? Hier kannst du es zurücksetzen oder dein erstes Passwort setzen, 
        falls du bisher noch keines verwendet hast. 
        <br>
        PROTIP: Dabei erhältst du auch deinen Benutzernamen zugeschickt.
    </p>

    <p>
        <a class="btn btn-warning" href="{% url 'account:password-reset' %}">
            Passwort (zurück-)setzen
        </a>
    </p>

{% endblock %}