{% extends 'account/base.html' %}

{% load static i18n account_tags %}

{% block title %}{% translate 'Login' %}{% endblock %}

{% block content %}
    {% url 'account:leave' as leave %}
    {% account_config 'APPLICATION_NAME' as APPLICATION_NAME %}

    <h2>{% translate 'Login' %}</h2>

    <p>
        {% blocktranslate %}Here you can login with your account for {{ APPLICATION_NAME }}.{% endblocktranslate %}
    </p>

    <p>
        <a class="btn btn-outline-success" href="{{ leave }}">
            <i class="fa-solid fa-arrow-left me-1"></i>
            {% translate 'Leave account management' %}
        </a>
    </p>

    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>{% translate 'Login with password or passkey' %}</h3>
                    <p>
                        {% translate 'Login with username and password or passkey:' %}
                    </p>

                    <form method="post" id="loginForm">
                        <input type="hidden" name="next" value="{{ leave }}">

                        {% include 'account/snippets/form.html' with form=form %}

                        <input type="submit" class="btn btn-primary"
                               value="{% translate 'Login' context 'Login button' %}">

                        {# Passkeys #}
                        <button class="btn btn-block btn-secondary" type="button" onclick="authn('loginForm')">
                            <img src="{% static 'passkeys/imgs/FIDO-Passkey_Icon-White.png' %}" style="width: 20px"
                                 alt="Passkey Icon">
                            {% translate 'Login with passkey' %}
                        </button>
                        <script
                                src="https://code.jquery.com/jquery-3.7.1.min.js"
                                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                                crossorigin="anonymous"></script>
                        {% include 'passkeys.js' %}
                        <script>
                            window.addEventListener("load", () => {
                                checkConditionalUI('loginForm');
                            })
                        </script>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>{% translate 'Login via OAuth' %}</h3>
                    <p>{% translate 'Login with a third party:' %}</p>

                    {% include "account/snippets/social_login.html" with next=leave column=True %}
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>{% translate 'Forgot password or username?' %}</h3>
                    <p>{% translate 'Here you can reset your password. You will also be sent your user name.' %}</p>

                    <a class="btn btn-secondary" href="{% url 'account:password-reset' %}">
                        {% translate 'Reset password' %}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h3>{% translate 'Register' %}</h3>
                    <p class="mb-0">
                        {% blocktranslate trimmed %}
                            Creating a new account is currently only possible via an OAuth provider. When you log in
                            with one of the providers above, an account is automatically created for you.
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block help %}
    <p>
        <b>{% translate 'Passkeys:' %}</b> 
        {% translate 'Passkeys are a new and secure authentication method that cannot be intercepted by phishing.' %}
    </p>

    <hr>

    {{ block.super }}
{% endblock %}
