{% extends 'account/base.html' %}

{% load i18n %}

{% block title %}{% translate 'OAuth providers' %}{{ block.super }}{% endblock %}

{% block content %}
    {% url 'account:home' as homeurl %}

    <h2>{% translate 'Manage OAuth providers' %}</h2>
    <p>{% translate 'You can manage your registered OAuth providers here.' %}</p>

    <p>
        <a class="btn btn-secondary" href="{{ homeurl }}">
            <i class="fas fa-arrow-left me-1"></i>
            {% translate 'Back' %}
        </a>
    </p>

    <p>{% translate 'You have registered the following OAuth providers:' %}</p>

    {% include "account/snippets/social_manage.html" with next=homeurl %}

    <p>{% translate 'You can add additional OAuth providers here:' %}</p>

    {% include "account/snippets/social_login.html" with next=homeurl %}
{% endblock %}

{% block help %}
    <p>
        Auf dieser Seite kannst du deine OAuth-Provider verwalten.
    </p>
    <p>
        Ein <b>OAuth-Provider</b> ist ein Drittanbieter, welcher dich authentifiziert, damit du
        dich auf dieser Seite schneller und ohne Passwort einloggen kannst.
    </p>
    <p>
        Die Sicherheit einer Anmeldung mit einem solchen Provider ist abhängig davon, wie gut
        du dein Konto beim entsprechenden Provider geschützt hast.
    </p>

    <hr>

    {{ block.super }}
{% endblock %}
