{% extends 'account/base.html' %}

{% load i18n %}

{% block title %}{% translate 'OAuth providers' %}{{ block.super }}{% endblock %}

{% block content %}
    {% url 'account:home' as homeurl %}

    <h2>{% translate 'Manage OAuth providers' %}</h2>
    <p>{% translate 'You can manage your registered OAuth providers here.' %}</p>

    <p>
        <a class="btn btn-secondary" href="{{ homeurl }}">
            <i class="fa-solid fa-arrow-left me-1"></i>
            {% translate 'Back' %}
        </a>
    </p>

    <p>{% translate 'You have registered the following OAuth providers:' %}</p>

    {% include "account/snippets/social_manage.html" with next=homeurl %}

    <p>{% translate 'You can add additional OAuth providers here:' %}</p>

    {% include "account/snippets/social_login.html" with next=homeurl %}
{% endblock %}

{% block help %}
    <p>
        {% translate "On this page you can manage your OAuth providers." %}
    </p>
    <p>
        {% blocktranslate trimmed %}
            An <b>OAuth provider</b> is a third-party service that authenticates you so you can log in
            to this site faster and without a password.{% endblocktranslate %}
    </p>
    <p>
        {% translate "The security of logging in with such a provider depends on how well you protect your account with the respective provider." %}
    </p>

    <hr>

    {{ block.super }}
{% endblock %}
