{% extends 'account/base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Reset password' %}{{ block.super }}{% endblock %}

{% block content %}

    {% if user.is_authenticated and user.has_usable_password %}
        <h2>{% translate 'Reset password' %}</h2>
        <p>{% blocktranslate trimmed %}
            Have you forgotten your password? You can reset your password here.
            You will then receive an email with further information.
        {% endblocktranslate %}</p>
    {% elif user.is_authenticated %}
        <h2>{% translate 'Set password' %}</h2>
        <p>{% blocktranslate trimmed %}
            You have not yet set a password. You can request a password here.
            You will then receive an e-mail with further information.
        {% endblocktranslate %}</p>
    {% else %}
        <h2>{% translate 'Reset password' %}</h2>
        <p>{% blocktranslate trimmed %}
            Forgot your password or haven't set one yet? Enter your e-mail address below to reset your reset your
            password. You will then receive an e-mail with further information.
        {% endblocktranslate %}</p>
        <p>{% blocktranslate trimmed %}
        	Pro tip: You will also be sent your user name.
        {% endblocktranslate %}</p>
    {% endif %}

    <form method="post">
        {% include 'account/snippets/form.html' with form=form %}

        <input type="submit" class="btn btn-warning" value="{% translate 'Request email' %}">
        <a class="btn btn-secondary" href="{% url 'account:home' %}">{% translate 'Cancel' %}</a>
    </form>

    {% if user.is_authenticated %}
        {# Prefill email and hide field if user is logged in to prevent confusion #}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                let emailField = document.getElementById("id_email");
                emailField.value = "{{ user.email }}";
                emailField.parentElement.classList.add("d-none");
            })
        </script>
    {% endif %}
{% endblock %}
