{% extends 'account/base.html' %}

{% load static %}

{% block title %}Passwort zurücksetzen{{ block.super }}{% endblock %}

{% block content %}

    {% if user.is_authenticated and user.has_usable_password %}
        <h2>Passwort zurücksetzen</h2>
        <p>Du hast dein Passwort vergessen? Hier kannst du dein Passwort zurückzusetzen.
            Anschliessend erhältst du eine E-Mail mit weiteren Informationen.</p>
    {% elif user.is_authenticated %}
        <h2>Passwort setzen</h2>
        <p>Du hast bisher noch kein Passwort festgelegt. Hier kannst du ein Password anfordern.
            Anschliessend erhältst du eine E-Mail mit weiteren Informationen.</p>
    {% else %}
        <h2>Passwort (zurück-)setzen</h2>
        <p>Du hast dein Passwort vergessen oder hast noch keines gesetzt? Gib deine E-Mail-Adresse unten ein um dein
            Passwort zurückzusetzen. Anschliessend erhältst du eine E-Mail mit weiteren Informationen.</p>
        <p>PROTIP: Dabei erhältst du auch deinen Benutzernamen zugeschickt.</p>
    {% endif %}

    <form method="post">
        {% include 'account/snippets/form.html' with form=form %}

        <input type="submit" class="btn btn-warning" value="E-Mail anfordern">
        <a class="btn btn-secondary" href="{% url 'account:home' %}">Abbrechen</a>
    </form>

    {% if user.is_authenticated %}
        {# Prefill email and hide field if user is logged in to prevent confusion #}
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                let emailField = document.getElementById("id_email");
                emailField.value = "{{ user.email }}";
                emailField.parentElement.classList.add("d-none");
            })
        </script>
    {% endif %}
{% endblock %}
