{% extends 'account/base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Set password' %}{{ block.super }}{% endblock %}

{% block content %}

    <h2>{% translate 'Set password' %}</h2>

    <br>

    {% if validlink %}
        <p>{% translate 'You have successfully confirmed your e-mail address and can now set a new password.' %}</p>

        <form method="post">
            <input type="hidden" name="next" value="{% url 'account:home' %}">

            {% include 'account/snippets/form.html' with form=form %}

            <input type="submit" class="btn btn-success" value="{% translate 'Set password' %}">
        </form>
    {% else %}
        <p>
            {% translate 'Sorry, this link is invalid! Please request a new link:' %}
            <a href="{% url 'account:password-reset' %}">{% translate 'Click here' %}</a>
        </p>
    {% endif %}

{% endblock %}
