{% extends 'account/base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Delete password' %}{{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate 'Delete password' %}</h2>
    <p>{% translate 'If you no longer want to sign in using a password, you can delete your password here.' %}</p>

    <p class="alert alert-warning" role="alert">
        {% translate 'You will no longer be able to sign in using your password.' %}
    </p>

    <p class="alert alert-danger" role="alert">
        {% translate 'You will not be able to set a new password by using "reset password"!' %}
    </p>

    <p class="alert alert-info" role="alert">
        {% translate "Deleting your password will sign you out. You'll have to sign back in using another method." %}
    </p>

    <form method="post">
        {% csrf_token %}

        <input type="submit" class="btn btn-danger" value="{% translate 'Delete password' %}">
        <a class="btn btn-secondary" href="{% url 'account:home' %}">{% translate 'Cancel' %}</a>
    </form>

{% endblock %}
