{% extends 'account/base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Change password' %}{{ block.super }}{% endblock %}

{% block content %}
    <h2>{% translate 'Change password' %}</h2>
    <p>{% translate 'Want to change your password? No problem! Here is the right place.' %}</p>

    <form method="post">
        {% include 'account/snippets/form.html' with form=form %}

        <input type="submit" class="btn btn-success" value="{% translate 'Change password' %}">
        <a class="btn btn-secondary" href="{% url 'account:home' %}">{% translate 'Cancel' %}</a>
    </form>

{% endblock %}
