{% extends 'account/base.html' %}

{% load static %}

{% block title %}Passwort zurücksetzen{{ block.super }}{% endblock %}

{% block content %}

    <h2>Passwort (zurück-)setzen</h2>

    <br>

    {% if validlink %}
        <p>
            Du hast deine E-Mail-Adresse erfolgreich bestätigt und kannst nun ein neues Passwort festlegen:
        </p>

        <form method="post">
            <input type="hidden" name="next" value="{% url 'account:home' %}">

            {% include 'account/snippets/form.html' with form=form %}

            <input type="submit" class="btn btn-success" value="Passwort ändern">
        </form>
    {% else %}
        <p>
            Dieser Link ist leider ungültig! Bitte fordere <a href="{% url 'account:password-reset' %}">hier</a> einen neuen Link an!
        </p>
    {% endif %}

{% endblock %}
