{% extends 'account/base.html' %}

{% load static %}

{% block title %}Passwort ändern{{ block.super }}{% endblock %}

{% block content %}
    <h2>Passwort ändern</h2>
    <p>Du möchtest dein Passwort ändern? Kein Problem! Hier ist der richtige Platz dazu.</p>

    <br>
    
    <form method="post">

        {% include 'account/snippets/form.html' with form=form %}

        <input type="submit" class="btn btn-success" value="Passwort ändern">
        <a class="btn btn-secondary" href="{% url 'account:home' %}">Abbrechen</a>
    </form>

{% endblock %}
