{% extends 'account/base.html' %}

{% load static i18n %}

{% block title %}{% translate 'Reset password' %}{{ block.super }}{% endblock %}

{% block content %}

    <h2>{% translate 'Reset password' %}</h2>

    <p>
        {% blocktranslate trimmed %}
        	A request to reset your password has been submitted.
            You should now receive an e-mail with a confirmation link.
            Please follow the link for further instructions.
        {% endblocktranslate %}
    </p>

{% endblock %}
