{% extends 'account/base.html' %}

{% load i18n %}

{% block title %}{% translate 'Your profile' %}{{ block.super }}{% endblock %}

{% block content %}
    {% url 'account:home' as homeurl %}

    <h2>{% translate 'Your profile' %}</h2>
    <p>{% translate 'You can change your personal data here.' %}</p>

    <p>
        <a class="btn btn-secondary" href="{{ homeurl }}">
            <i class="fas fa-arrow-left me-1"></i>
            {% translate 'Back' %}
        </a>
    </p>

    <form method="post">
        <input type="hidden" name="next" value="{{ homeurl }}">

        {% include 'account/snippets/form.html' with form=form %}

        <input type="submit" class="btn btn-success" value="{% trans 'Save profile' %}">
    </form>

{% endblock %}

{% block help %}
    <p>
        Auf dieser Seite kannst du deinen Namen ändern.
        <br>
        Die Änderung der E-Mail-Adresse ist zurzeit aus technischen Gründen 
        leider nicht selbstständig möglich. Kontaktiere mich dazu bitte.
    </p>

    <hr>

    {{ block.super }}
{% endblock %}
